<div id="header" class="hidden-xs">
    <div class="app-name fl">Matrix大数据管理</div>
    <div class="admin fr">
        <img src="../image/ico_user.png" alt="user">
        <span class="username"><%= username %></span>
        <ul class="admin-list">
            <li><a href="/html/userCenter">个人中心</a></li>
            <li><a href="#" onclick="$.logout()">退出</a></li>
        </ul>
    </div>
    <!--<div class="news fr">-->
        <!--&lt;!&ndash;<img src="../image/ico_message.png" alt="news">&ndash;&gt;-->
    <!--</div>-->
</div>