body{
    background:center/100% 100% no-repeat;
}

.login-sec{
    max-width: 1000px;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}
.login-sec .col{
    padding-right: 0;
    padding-left: 0;
    height:360px;;
}
.login-sec .left-bg{
    background: url("../image/login/bg_left.png") center no-repeat;
    background-size: 100% auto;
}
.login-sec .right-input{
    height:100%;
    padding: 30px 7% 40px;
    background-color: #fff;
}
.login-sec .right-input .title{
    margin-bottom: 30px;
}
.login-sec .right-input .item-input{
    margin-bottom: 20px;
    position: relative;
}
.login-sec .right-input .ico{
    display: block;
    width:46px;
    height:46px;
    position: absolute;
    left:0;
    top:0;
    z-index: 2;
    margin-bottom: 0;
}
.login-sec .right-input .item-input input{
    height:46px;
    width: 100%;
    padding-left: 56px;
    padding-right: 10px;
    border:none;
    background-color: rgba(140,126,236,0.1);
}
.login-sec .right-input .username .ico{
    background: url("../image/login/user.png") center/100% 100% no-repeat;
}
.login-sec .right-input .userpwd .ico{
    background: url("../image/login/password.png") center/100% 100% no-repeat;
}

.login-sec .right-input .remember-user{
    line-height: 30px;
    margin-top: 30px;
    color: #CCCCCC;
}
.login-sec .right-input .remember-user > input{
    position: relative;
    top:2px;
}
.login-sec .right-input .remember-user > label{
    font-weight: normal;
}

#login{
    width:100%;
    line-height: 45px;
    background-color: #8C7EEC;
    border-radius: 3px;
    color: #fff;
    margin-top: 10px;
    cursor: pointer;
}


@media (max-width: 767px) {
    .login-sec{
        position: static;
        transform: translate(0,0);
    }
    .login-sec .left-bg{
        height:280px;
        background-size:cover;
    }
    .login-sec .right-input .remember-user{
        margin-top: 10px;
    }
}