@media (min-width: 768px){
    #footer {
        position: fixed;
        bottom: 0;
        left: 50%;
        margin-left: 120px;
        transform: translateX(-50%);
    }
}
.canvas-item .col{
    margin: 10px 0;
}
.canvas-item .name{
    color: #666;
    display: inline-block;
    width:60px;
}
.canvas-item .value{
    display: inline-block;
    min-width:140px;
    width: 20%;
}
.canvas-item .edit{
    position: relative;
    display: inline-block;
    width:50px;
    cursor: pointer;
}
.canvas-item .edit .img{
    width:20px;
    height:20px;
    display: block;
    transform: rotate(-90deg);
    position: absolute;
    right:0;
    top:-1px;
    z-index: -1;
    transition: all linear 0.2s;
    background: url("../image/arrow-left-on.png") center no-repeat;
}

/*编辑面板*/
.canvas-item .col .edit-panel{
    margin-top: 20px;
    margin-left: 20px;
    height:0;
    overflow: hidden;
    transition: height linear 0.2s;
}
.canvas-item .col .edit-panel input{
    height:40px;
    padding: 0 10px;
    max-width: 150px;
    border-radius: 3px;
    border: 1px solid #CCC;
}
.canvas-item .col .edit-panel .name{
    color: #666;
    width:65px;
    margin-right: 5px;
    text-align: right;
}
.canvas-item .col .edit-panel .item{
    margin-bottom: 20px;
}

.btn-normal:hover{
    background-color: rgba(146,126,236,.8);
}