<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
    <meta charset="UTF-8">
    <title>用户管理</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../../lib/css/bootstrap.css">
    <link rel="stylesheet" href="../../lib/css/base.css">
    <link rel="stylesheet" href="../../lib/css/paging.css">
    <link rel="stylesheet" href="../../css/systemManage.css">
</head>
<body>
<div id="page" ng-controller="controllerList">
    <% include ../menu.html %>
    <div id="content">
        <% include ../header.html %>
        <div id="container">
            <% include ../map.html %>
            <a id="addBrand" class="btn-normal" href="/html/userManageSecond">添加</a>
            <div class="row row-3">
                <div class="col-xs-12">
                    <div class="canvas-item list">
                        <table cellpadding="0" cellspacing="0">
                            <thead>
                            <tr>
                                <th>序号</th>
                                <th>用户名</th>
                                <th>手机号</th>
                                <th>角色</th>
                                <th>操作</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="item in list">
                                <td ng-bind="(pageIndex-1)*10+$index+1"></td>
                                <td ng-bind="item.account || '无'"></td>
                                <td ng-bind="item.phone || '无'"></td>
                                <td ng-bind="item.role_name || '无'"></td>
                                <td style="color:#337ab7">
                                    <a href="/html/userManageSecond?user_id={{item.user_id}}" style="color:inherit">修改</a>&nbsp;
                                    <a href="#" style="color:inherit" data-toggle="modal" data-target="#myModal" ng-click="distributeRole(item)">分配角色</a>&nbsp;
                                    <a href="javascript:;" style="color:inherit" ng-click="doDelete(item)">删除</a>
                                </td>
                            </tr>
                            <tr ng-show="!list.length"><td colspan="3">暂无数据!</td></tr>
                            </tbody>
                        </table>
                        <div class="box" id="box"></div>
                    </div>
                </div>
            </div>
            <% include ../footer.html %>
        </div>
    </div>
    <!--模态框-->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">分配角色</h4>
                </div>
                <div class="modal-body">
                    <p>用户名 : <span ng-bind="userName || '无'"></span></p>
                    <div class="condition-sec clearfix" style="padding: 0;box-shadow: none;margin-top: 10px">
                    </div>
                    <div class="canvas-item list">
                        <p style="color: #666;text-align: center;margin-bottom: 15px">角色列表</p>
                        <table cellpadding="0" cellspacing="0">
                            <thead>
                            <tr>
                                <th>序号</th>
                                <th>角色名称</th>
                                <th>角色编码</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="item in roleList">
                                <td style="display: flex;align-items: center">
                                    <input name="radio" type="radio" style="margin: 0 3px 0 0;
		                                    width: 16px;height: 16px" ng-value="true" ng-model="item.status"
                                           ng-change="radioSelect(item.id)">
                                    <span ng-bind="(pageIndex-1)*10+$index+1"></span>
                                </td>
                                <td ng-bind="item.role_name || '无'"></td>
                                <td ng-bind="item.role_code || '无'"></td>
                            </tr>
                            <tr ng-show="!roleList.length" class="text-center">
                                <td colspan="11">暂无数据!</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="box" id="box-pop" style="bottom:60px;"></div>
                <div class="modal-footer" style="margin-top:20px;">
                    <button type="button" class="btn btn-primary" ng-click="mySubmit()">确定</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="myCancel()">取消</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="../../lib/js/jquery-1.9.1.js"></script>
<script src="../../lib/js/bootstrap.js"></script>
<script src="../../lib/js/angular1.2.3.js"></script>
<script src="../../lib/js/base.js"></script>
<script src="../../lib/js/paging.js"></script>
<script src="../../js/userManage.js"></script>
</body>
</html>